.RecipeItem {
  border-bottom-color: rgba($color: #000000, $alpha: 0.12);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: fit-content;
  width: 100%;
}

.RecipeItem:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.RecipeItem:last-child {
  border-bottom-style: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.RecipeItem:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.RecipeItemButton {
  display: block;
  height: 100%;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  text-decoration: none !important;
  width: 100%;
}

.Name,
.Description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.Name {
  color: rgba($color: #000000, $alpha: 0.87) !important;
}

.Description {
  color: rgba($color: #000000, $alpha: 0.54) !important;
}
