@import "utils";

.PlanTemplateList {
  // background: #fafafa;
  padding-top: 64px;
  padding-bottom: 64px;
}

// .PlanTemplateItemContainer {
//   background-color: white;
//   border-radius: 4px;
//   box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
//     0 5px 12px rgba(133, 133, 133, 0.22);
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 600px;
//   width: 75%;
// }

// body {
//   padding: 60px;
//   background: #fafafa;
//   min-height: 100vh;
// }

@keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}

$c1: #7fefbd;
$c2: #fff689;
$c3: #ec0b43;

// $c1: #F8333C;
// $c2: #2B9EB3;
// $c3: #44AF69;

.PlanTemplateItemContainer {
  background: white;

  margin-right: auto;
  margin-left: auto;

  width: 75%;
  max-width: 600px;

  font-family: Helvetica Neue;
  border-radius: 4px;
  position: relative;

  &::before {
    animation: sparkle infinite 6s linear;
    background: linear-gradient(
      90deg,
      $c1 0%,
      $c2 11%,
      $c3 22%,
      $c1 33%,
      $c2 44%,
      $c3 55%,
      $c1 66%,
      $c2 77%,
      $c3 88%,
      $c1 100%
    );
    background-size: 300% 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    filter: blur(5px);
    z-index: -1;
    transform: scale(0.99875) translateY(3px);
  }
}
